body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(37, 24, 48);
}

.app-wrapp {
  background-color: rgb(211, 177, 231);
  margin: 50px auto 25px;
  padding: 35px;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 10px 10px 0px rgb(164, 128, 231);
  text-align: center;
}

.body-wrapp {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

h1 {
  font-weight: bold;
  margin: 0 0 30px 0;
}

.go-button {
  color: white;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 5px;
  box-shadow: 5px 5px 0px rgb(164, 128, 231);
  display: block;
  margin: 0 0 0 15px;
}

.form-check-input {
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;

  border: 1px solid black;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.form-check-input:checked {
  border: 6px solid blueviolet;
}

p {
  margin: 25px 0 0 0;
  text-align: center;
}

.placeholder {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 0px rgb(164, 128, 231);
  border-radius: 5px;
  line-height: 250%;
  padding: 5px;
  margin: 5px;
}

footer {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: rgb(164, 128, 231);
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.support {
  margin-left: 20px;
}

img {
  max-width: 25px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}
